:root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  html,
  body,
  #app {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    #location-cesium-jwd {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 3px 10px;
      font-size: 14px;
      color: #e9e9e9;
      text-shadow: 2px 2px 2px #000;
      background-color: transparent;
      pointer-events: none;
      text-align: center;
      z-index: 1;
      display: block;
    }
    .location-info-content {
      display: inline-block;
      > span {
        margin-right: 24px;
      }
    }
  }
}
